body {
    background-color: rgb(200, 231, 229);
    font-family: 'Exo 2', sans-serif;
    color :#fff;
    font-size: 18px;
    background-color: #3aafa9;
    
}
h1 {
    font-size: 60px;
    font-family: 'Exo 2', sans-serif;
    margin: 30px;
    font-weight:800;
    color: #fff;
}

canvas {
    background-color: #fff;
    border: 20px solid #fff;
    margin: 40px 20px 40px 40px;
}
.text-top {
    margin: 20px 0 50px 40px;
}
.form-control {
    width: 200px;
    height: 50px;
    display: block;
    margin: 40px 0 10px 20px;
}

.all-canvas button {
    height: 50px;
    width: 200px;
    margin: 10px 20px;
    padding: 6px 25px;
}
.all-canvas a {
    display: block;
    height: 50px;
    width: 200px;
    margin: 10px 20px;
    padding: 12px 25px;
}
.all-canvas button:hover {
    color: #3aafa9;
}
.right-text {
    margin: 320px 0;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 8px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
}
.right-text h2 {
    margin-bottom: 20px;
}