body {
    background-color: rgb(200, 231, 229);
    font-family: 'Exo 2', sans-serif;
    color :#fff;
    font-size: 18px;
    background-color: #3aafa9;  
}

h1 {
    font-size: 60px;
    margin: 30px 40px;
    font-weight:800;
    max-width: 800px;
}
.text-top {
    margin: 20px 0 80px 45px;
}
.all-btn {
    min-width:500px;
}
.initials {
    padding-left: 5px;
    max-width: 150px;
    margin: 0 10px 0 45px;
}
.all-canvas button {
    padding: 6px 40px;
    margin-right: 10px;
}
.all-canvas a {
    padding: 12px 25px;
    margin-right: 10px;
}
.all-canvas button:hover, .all-canvas a:hover{
    color: #3aafa9;
}
canvas {
    background-color: #fff;
    border: 20px solid #fff;
    margin: 20px 10px 120px 30px;
}
.right-text {
    max-width: 580px;
    height: 620px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 8px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 70px;
    margin: 70px 10px 125px 10px;
}
.right-text h2 {
    margin-bottom: 40px;
}
.right-text p {
    margin-bottom: 40px;
}
footer {
    padding: 30px;
}
footer .anchor {
    color: #FFF;
}
.email {
    font-size: 20px;
}
footer .anchor:hover {
    color: #FFF;
}

 @media screen and (max-width: 1100px) {
    .right-text {
        font-size: 16px;        
        top: 40px;
        padding: 15px;
    }
    .right-text h2 {
        margin-bottom: 15px;
    }
    .right-text p {
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 992px) {
    .right-text {
        max-width: 620px;
        font-size: 18px; 
        padding: 20px;
        position: static;
        margin: 60px 30px;
    }
    .right-text h2 {
        margin-bottom: 40px;
    }
    .right-text p {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 640px) {
    .initials {
        font-size: 15px;
        margin-left: 15px;
        margin-top: 5px;
        height: 55px;
    }
    
    .all-canvas button, .all-canvas a {
        font-size: 15px;
        padding-left:15px;
        padding-right: 15px;
        margin-left: 15px;
        margin-top: 5px;
        height: 55px;
    }
    canvas {
        margin-left: 0;
    }
}

@media screen and (max-width: 501px) {
    .right-text {
        height: 700px;
        min-width: 320px;
        font-size: 18px;
    }

}
.hidden {
    display:none;
}

